html, body, app-root, #site {
    float: left;
    width: 100%;
    height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}


.row{
  padding: 0 !important;
}

.header{
  background-color: #487882;
  text-align:center;
}

.titulo h1{
  text-align: center;
}

.centraliza{text-align:center; margin-top: 80px;}

.bg-light {background-color: #487882 !important; padding-bottom: 0;}
.conteudo{margin-top: 40px;}
.navbar-nav .nav-item span{ color: #fff; text-align: center; margin:0; float: left; cursor:pointer;}

.navbar-nav .nav-item {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-right: 15px;
  border-radius: 8px 8px 0 0;
  min-width: 40px;
  text-align: center;
  float: left;
  padding: 5px 12px;
}

.navbar-nav .nav-item:hover {background: #fff;}

.navbar-nav .nav-item:hover span{ color: #000;}

.contraste,
.contraste section {
    background-color: #000 !important;
    color: #fff !important;
}

.contraste h1,
.contraste h2,
.contraste h3,
.contraste h4,
.contraste h5,
.contraste p,
.contraste span {
    color: #fff !important;
}

.contraste a{
    color: yellow !important;
}

.contraste button,
.contraste input[type=button],
.contraste input[type=reset],
.contraste input[type=submit] {
    background: black !important;
    color: #000 !important;
    border: none !important;
}


.contraste .navbar-nav .nav-item span{
  color: yellow !important;
}

.contraste .btn-primary {
    color: #000 !important;
    background-color: #fff;
    border-color: yellow;
}

.contraste .bg-light {background-color: #000 !important;}

.contraste .table thead th, .contraste .table-sm td, .contraste .table-sm th{color:#fff;}

.Fonte50 body{font-size: 0.6rem; }
.Fonte50  td, .Fonte50  th {font-size: 0.6rem;}
.Fonte50 h1{font-size: 1.5rem;}
.Fonte50 h5 {font-size: 0.75rem;}
.Fonte50 .btn{font-size: 0.6rem;}
.Fonte50 .navbar-nav .nav-item span{font-size: 0.6rem;}

.Fonte75 body{font-size: 0.8rem; }
.Fonte75  td, .Fonte75  th {font-size: 0.8rem;}
.Fonte75 h1{font-size: 2.0rem;}
.Fonte75 h5 {font-size: 1.0rem;}
.Fonte75 .btn{font-size: 0.8rem;}
.Fonte75 .navbar-nav .nav-item span{font-size: 0.8rem;}

.Fonte100 body{font-size: 1rem; }
.Fonte100 td, .Fonte100 th {font-size: 1rem;}
.Fonte100 h1{font-size: 2.5rem;}
.Fonte100 h5 {font-size: 1.25rem;}
.Fonte100 .btn{font-size: 1rem;}
.Fonte100 .navbar-nav .nav-item span{font-size: 1rem;}

.Fonte125 body{font-size: 1.2rem; }
.Fonte125 td, .Fonte125 th {font-size: 1.2rem;}
.Fonte125 h1{font-size: 3rem;}
.Fonte125 h5 {font-size: 1.5rem;}
.Fonte125 .btn{font-size: 1.2rem;}
.Fonte125 .navbar-nav .nav-item span{font-size: 1.2rem;}

.Fonte150 body{font-size: 1.4rem; }
.Fonte150 td, .Fonte150 th {font-size: 1.4rem;}
.Fonte150 h1{font-size: 3.5rem;}
.Fonte150 h5 {font-size: 1.75rem;}
.Fonte150 .btn{font-size: 1.4rem;}
.Fonte150 .navbar-nav .nav-item span{font-size: 1.4rem;}

.circle {
    width: 180px;
    height: 180px;
    border: 10px inset #85e0f2;
    display: block;
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    /* margin-left: -100px; */
    margin-top: -60px;
    border-radius: 200px;
    -webkit-animation: rotate 5s infinite linear;
    animation: rotate 5s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: unset;
}

.circle-small {
    width: 150px;
    height: 150px;
    border: 6px outset #85e0f2;
    display: block;
    position: relative;
    /* top: 50%; */
    /* left: 70%; */
    margin-left: 19px;
    margin-top: -180px;
    border-radius: 156px;
    -webkit-animation: rotate-rev 3s infinite linear;
    animation: rotate-rev 3s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: unset;
}

.circle-big {
    width: 210px;
    height: 210px;
    border: 4px dotted #85e0f2;
    display: block;
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    margin-left: -9px;
    margin-top: -191px;
    border-radius: 214px;
    -webkit-animation: rotate-rev 10s infinite linear;
    animation: rotate-rev 10s infinite linear;
    box-sizing: unset;
}

.circle-inner-inner {
    width: 100px;
    height: 100px;
    background-color: #4a7c86;
    display: block;
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    margin-left: 50px;
    margin-top: -155px;
    border-radius: 100px;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: unset;
}

.circle-inner {
    width: 80px;
    height: 80px;
    background-color: #85e0f2;
    display: block;
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    margin-left: 60px;
    margin-top: -89px;
    border-radius: 80px;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: unset;
}

.no-animate {
   -webkit-animation: none !important;
    animation: none !important;
}

.velocidade {
    margin-top: -52px;
    font-weight: bold;
    color: #34626b;
        -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    width: 94%;
    float: left;
}

.texto {
       margin-top: 8px;
    font-weight: bold;
    color: #34626b;
    font-size: 13px;
    float: left;
    width: 94%;
}

.medidor{
  height: 250px;
}


@media screen and (max-width: 1024px) {
  .velocidade {
      margin-top: -52px;
      font-weight: bold;
      color: #34626b;
          -webkit-animation: pulse 1.5s infinite ease-in;
      animation: pulse 1.5s infinite ease-in;
      width: 64%;
      float: left;
  }

  .texto {
        margin-top: 8px;
      font-weight: bold;
      color: #34626b;
      font-size: 13px;
      float: left;
      width: 64%;
  }

  #loader{display: none;}
}

/*==============ANIMATIONS=================*/

/*==============ROTATE=====================*/

@-moz-keyframes rotate{
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*==============ROTATE-REV=================*/

@-moz-keyframes rotate-rev{
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);}
}

@-webkit-keyframes rotate-rev{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}

@keyframes rotate-rev{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

/*==============PULSE======================*/

@-moz-keyframes pulse{
	0% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        -moz-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
}

@-webkit-keyframes pulse{
	0% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        -webkit-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
}

@keyframes pulse{
	0% {
        transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        transform: scale(1);
        opacity: 0.8;
    }
  100% {
        transform: scale(0.1);
        opacity: 0.2;
    }
}


